*{
    background-color: #dad3ff;
    
}

.big_box{
        border: 4px solid #8a51f5;
        width: 85%;
        margin: 0 auto;
        /* width: 1000px; */
}

#ex1 {
    text-align:center;
    color: rgb(117, 31, 255);
}

h1{
    padding: 10px; background-color: #8a51f5; color: #fff;
}

nana{
    margin-right: 16px; border: 20px #8a51f5;
}

#sl1{
    color: #ffffff;

}

img{
    width: 450px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

#pass_1{
    display: flex;
    margin-left: auto;
    margin: right 20px;
    box-shadow: 1px, 1px, 1px #8a51f5;
}