*{
    margin: 0; padding: 0;}

.header{
    /* position: absolute; */
    width: 100%;
}

body{
    background-color: rgb(30, 30, 43);}

.main{
    text-align: center;
    padding-top: 90px;
}

#text_1{
    color: white;
    opacity: 90%;
    margin-bottom: 25px;
}

#text_2{
    color: white;
    opacity: 90%;
}


#img_1{
    display: block;
    margin: 50px auto 0;
    /* left: 150px; */
}

#text_3{
    color: aliceblue;
    /* position: relative; */
    margin-top: 70px;
    text-align: center;
}

#background_a{
    position: absolute;
    top: 100px;

    width: 400px;
    height: 350px;
    /* max-width: 500px; */

    left: 50%;
    transform: translateX(-50%);
    opacity: 30%;
    z-index: -1;
}
/* 
#btn_a{
    position: relative;
    top: 50px;
    background-color: #ff3752;
    color: white;
    width: 350px;
    height: 70px;
}

.btn_wrap{
    text-align: center;
} */


#btn_a{
    display: inline-block;

    width: 330px;
    height: 70px;

    background-color: #ff3752;
    color: white;

    text-decoration: none;

    text-align: center;
    line-height: 70px;

    border-radius: 10px;

    margin-top: 50px;
}

.btn_wrap{
    text-align: center;
}